header {
    padding-bottom: 5%;
    margin-bottom: 5%
}

h1 {
    border-bottom: 1px solid #ffffff;
    margin: 10% auto;
    padding-bottom: 5%;
}

h1>strong {
    text-transform: capitalize;
    color: #F2F2F2;
}

hr {
    border: 0.5px solid #ffffff;
}


/* label color */

input[type=text],
input[type=email],
label,
textarea {
    color: #2979ff !important;
}

input,
label:focus,
textarea {
    border-bottom: 1px solid #2979ff !important;
}

form {
    margin: 2% auto
}


/*animation*/

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    animation-name: rubberBand;
}